@font-face {
  font-family: 'BebasNeue_Regular';
  src: url('../fonts/BebasNeue_Regular.otf');

}

@font-face {
  font-family: 'BebasNeue_Bold';
  src: url('../fonts/BebasNeue_Bold.otf');

}

@font-face {
  font-family: 'BebasNeue_Book';
  src: url('../fonts/BebasNeue_Book.otf');

}

@mixin bebasneue($style: 'regular') {
  @if $style == 'regular' {
    font-family: 'BebasNeue_Regular';
  } @else if $style == 'bold' {
    font-family: 'BebasNeue_Bold';
  } @else if $style == 'book' {
    font-family: 'BebasNeue_Book';
  }
}