.controls__button-block {
  width: 100%;
  padding: 10px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
  line-height:2;
}

.button__switch {
  min-width: 30px;
  display: flex;
  align-content: space-between;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.switch-card_icon {
  background-image: url("../images/icons/cards.svg");
  width: 13px;
  height: 13px;
  cursor: pointer;

  &.active {
    background-image: url("../images/icons/cards_active.svg");
  }
}

.switch-table_icon {
  background-image: url("../images/icons/table.svg");
  width: 13px;
  height: 13px;
  cursor: pointer;
  &.active {
    background-image: url("../images/icons/table_active.svg");
  }
}

.button__sort {
  min-width: 262px;
  display: flex;
  align-content: space-between;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}
.button__sort-by_exp, .button__sort-by_sec_name {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  &.active {
    color: $selected;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button__filter-profession:active {
  user-select: none;
}
.button__filter-profession::selection {
  outline: none;
  border: none;
}
.button__filter-profession {
  -webkit-appearance: none;
  outline: none;
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: url("../images/decor/triangle.svg") no-repeat right;
  //background: transparent;
  //background-image: none;
  text-decoration:underline;
  text-decoration-style: dotted;
  font-size: 14px;
}
select.button__filter-profession > option {
  text-decoration: underline;
  border-bottom: dashed 1px #000000;
}
.selectbox-box.active {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: solid 1px rgba($grey, 0.4);
  padding: 10px 0;
}
.selectbox-box > .selectbox_title, .selectbox-box > .selectbox__list {
  margin-left: 26px;
}
.selectbox-box > .selectbox_title:after {
  background: url("../images/decor/triangle.svg") no-repeat right;
  background: transparent;
  background-image: none;
  padding: 10px 0;
}
