.header__title-block {
  width: 100%;
  max-width: 368px;
  //min-width: 358px;
  padding: 30px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
}

.title__name {
  font-size: 40px;
  @include bebasneue(bold);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.title__quantity {
  color: $grey;
  font-size: 30px;
  @include bebasneue(regular);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  background: #000;
  width: 200px;
  height: 80px;
  font-size: 0;
  margin: 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav {
  //margin:-5px 0 10px -15px;
  display: flex;
  flex-wrap: wrap;

}

.nav-itm {
  background: #000;
  width: 130px;
  height: 50px;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 5px 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
