.user__item-name {
  //@include bebasneue()
  font-weight: bold;
  min-width:140px;
}
.user__item-profession {
  min-width:150px;
}
.user__item-experience {
  min-width:100px;
}
.list__users-table_view {
  width: 100%;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //flex-wrap: wrap;
}

.list__users-card_view {
  //width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.user__item-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.list__users-table_view > .users__item {
  padding: 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: solid 1px rgba($grey, 0.4);
}

.list__users-card_view > .users__item {
  margin:5px;
  padding: 10px;
  display: flex;
  width: 300px;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px rgba($grey, 0.4);
}
.list__users-card_view > .users__item > .user__item-age {
  align-self: stretch;
}
